PROJECT_NAME = "AstroFrame"

GODOT_PATH = "C:\Program Files (x86)\Steam\steamapps\common\Godot Engine\godot.windows.opt.tools.64.exe"

ITCH_USER = "sentientdragon5gamedev"
ITCH_GAME = "astroframeprototype"
BUTLER_EXEC = "C:/Users/senti/Logan/Apps/butler-windows-amd64/butler.exe"

STEAMCMD_EXEC="C:\Users\senti\Logan\Apps\steamcmd\steamcmd.exe"
STEAM_USER="steam username"
STEAM_APP_ID="4424670"
STEAM_DEPOT_WIN="4424671"
STEAM_DEPOT_MAC="4424672"
STEAM_DEPOT_LINUX="4424673"